#pane {
  background: #101e26;
}

#toc-search-wrapper {
  background: #073642;
}

#toc-search:focus {
  border-color: #666;
}

.toc-category-name-wrapper {
  color: gray;
}

.toc-category-entry.active {
  border-color: #2AA198;
}
